* {font-family: 'Times New Roman', Times, serif, Arial, sans-serif;}
  
  body {background-color: rgb(245,241,238);}
  
  
  h1 {color: rgb(54,53,52);}
  
  
  p, li {font-size: 18px; color: rgb(54,53,52);}
  
  
  a {text-decoration: none;}